---
import ShoppingCart from '../components/shopping-cart.astro'
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>Product preview card component</title>

    <link
      href="/fonts/Montserrat.woff2"
      rel="preload"
      type="font/woff2"
      as="font"
      fetchpriority="high"
      crossorigin="anonymous"
    />
    <link
      href="/fonts/Fraunces.woff2"
      rel="preload"
      type="font/woff2"
      as="font"
      fetchpriority="high"
      crossorigin="anonymous"
    />
  </head>
  <body
    class="px-[16px] py-[28px] font-medium bg-[#f2eae2] md:flex md:items-center md:justify-center md:min-h-screen"
  >
    <article class="rounded-[10px] bg-white md:flex md:w-[600px]">
      <div>
        <img
          class="rounded-t-[10px] object-cover md:hidden"
          src="/images/product-mobile.jpg"
          alt="photo"
          height={240}
          width={343}
        />
        <img
          class="hidden md:block md:rounded-tl-[10px] md:rounded-bl-[10px] md:object-cover md:h-full"
          src="/images/product-desktop.jpg"
          alt="photo"
          width={280}
        />
      </div>

      <div class="p-[25px] md:p-[32px] md:flex-1">
        <div class="mb-[25px]">
          <header>
            <h2 class="text-[12px] tracking-[5px] text-grayish">PERFUME</h2>
            <h3 class="leading-none text-[32px] mt-[12px] font-title">
              Gabrielle Essence Eau De Parfum
            </h3>
          </header>

          <p class="leading-relaxed mt-[15px] text-grayish">
            A floral, solar and voluptuous interpretation composed by Olivier
            Polge, Perfumer-Creator for the House of CHANEL.
          </p>
        </div>

        <footer>
          <div class="flex items-center gap-x-[19px] price">
            <p class="text-[32px] text-cyan font-title">$149.99</p>
            <p class="line-through text-grayish">$169.99</p>
          </div>
          <button
            class="flex items-center justify-center text-white py-[12px] rounded-[8px] w-full gap-x-[12px] mt-[20px] bg-cyan hover:bg-[#1e4235]"
          >
            <ShoppingCart />
            <span>Add to cart</span>
          </button>
        </footer>
      </div>
    </article>
  </body>
</html>

<style>
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.woff2') format('woff2');
    font-weight: 500, 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fraunces';
    src: url('/fonts/Fraunces.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
</style>
