---
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
  </head>
  <body
    class="px-[16px] py-[28px] font-medium bg-[#f2eae2] desktop:flex desktop:items-center desktop:justify-center desktop:min-h-screen"
  >
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.woff2') format('woff2');
    font-weight: 500, 700;
    font-style: normal;
    font-display: optional;
  }

  @font-face {
    font-family: 'Fraunces';
    src: url('/fonts/Fraunces.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: optional;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
</style>
